{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}注册{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="icon">头像</label>
    <input type="file" id="icon" name="icon" accept="image/gif, image/jpeg, image/png, image/jpg">
    ---
    

    <label for="username">用户名*</label>
    <input name="username" id="username" required>
    <label for="password">密码*</label>
    <input type="password" name="password" id="password" required>
    ---
    

    <label for="usertype">账户类型*</label>
    <label><input type="radio" name="usertype" id="usertype" value="个人" required checked>个人</label>
    <label><input type="radio" name="usertype" id="usertype" value="机构" required>机构</label>
    ---
    

    <label for="realname">真实姓名*</label>
    <input name="realname" id="realname" required>
    <label for="IDcard_number">身份证号码*</label>
    <input name="IDcard_number" id="IDcard_number" required>
    <label for="sex">性别*</label>
    <label><input type="radio" name="sex" id="sex" value="男" required checked>男</label>
    <label><input type="radio" name="sex" id="sex" value="女" required>女</label>
    ---
    

    <label for="university">学校*</label>
    <input name="university" id="university" required>
    <label for="school">学院/系*</label>
    <input name="school" id="school" required>
    <label for="major">主修专业*</label>
    <input name="major" id="major" required>
    <label for="grade">年级*</label>
    <label><input type="radio" name="grade" id="grade" value="大一" required checked>大一</label>
    <label><input type="radio" name="grade" id="grade" value="大二" required>大二</label>
    <label><input type="radio" name="grade" id="grade" value="大三" required>大三</label>
    <label><input type="radio" name="grade" id="grade" value="大四" required>大四</label>
    ---
    
    <label for="email">邮箱*</label>
    <input type="email" name="email" id="email" required>
    <label for="tel">电话号码*</label>
    <input type="tel" name="tel" id="tel" required>
    ---
    
    
    <label for="tags">兴趣标签</label>
    <label><input type="checkbox" name="tags" id="tags" value="问卷调查">问卷调查</label>
    <label><input type="checkbox" name="tags" id="tags" value="租书">租书</label>
    <label><input type="checkbox" name="tags" id="tags" value="代取快递">代取快递</label>

    <input type="submit" value="注册">
  </form>
{% endblock %}